<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="ALMANAHEL_CONSIGNMENT_COMMISSION_RATE" value="0.1"/>
        <env name="ALMANAHEL_LOW_STOCK_THRESHOLD" value="5"/>
        <env name="FINANCE_LEDGER_REPORTS_ENABLED" value="true"/>
        <env name="SELLING_PRICE_VERSIONING_ENABLED" value="false"/>
        <env name="CONSIGNMENT_COST_REVISION_ENABLED" value="false"/>
        <env name="BRANCH_SALES_SHARE_ENABLED" value="false"/>
    </php>
</phpunit>
